<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rebeldev.bondiapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".PagarBoleto"></activity>
        <activity android:name=".VerConsumo" />
        <activity android:name=".VerInfoViaje" />
        <activity android:name=".VerViajes" />
        <activity android:name=".VerInfo" />
        <activity android:name=".Tarifas" />
        <activity android:name=".FormParada" />
        <activity android:name=".VerParada" />
        <activity android:name=".AgregarMicroAParada" />
        <activity android:name=".FormMicro" />
        <activity android:name=".VerMicro" />
        <activity android:name=".Paradas" />
        <activity android:name=".Micros" />
        <activity android:name=".MicrosParadas" />
        <activity android:name=".Tarjetas" />
        <activity android:name=".Home">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Configuracion" />
        <activity android:name=".CargarSaldo" />
        <activity android:name=".VerTarjeta" />
        <activity android:name=".FormTarjeta" />
    </application>

</manifest>